
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-bold.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-bolditalic.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bolditalic.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic.woff') format('woff'),
         url('../fonts/opensans-bolditalic.ttf') format('truetype'),
         url('../fonts/opensans-bolditalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}





@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-italic.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic.woff2') format('woff2'),
         url('../fonts/opensans-italic.woff') format('woff'),
         url('../fonts/opensans-italic.ttf') format('truetype'),
         url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-light.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-lightitalic.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic.woff') format('woff'),
         url('../fonts/opensans-lightitalic.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular.eot');
    src: local('OpenSans'),
         url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold.eot');
    src: local('Raleway'),
         url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bolditalic.eot');
    src: local('Raleway'),
         url('../fonts/raleway-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bolditalic.woff2') format('woff2'),
         url('../fonts/raleway-bolditalic.woff') format('woff'),
         url('../fonts/raleway-bolditalic.ttf') format('truetype'),
         url('../fonts/raleway-bolditalic.svg#ralewaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-italic.eot');
    src: local('Raleway'),
         url('../fonts/raleway-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-italic.woff2') format('woff2'),
         url('../fonts/raleway-italic.woff') format('woff'),
         url('../fonts/raleway-italic.ttf') format('truetype'),
         url('../fonts/raleway-italic.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.eot');
    src: local('Raleway'),
         url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff'),
         url('../fonts/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway-light.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-lightitalic.eot');
    src: local('Raleway'),
         url('../fonts/raleway-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic.woff') format('woff'),
         url('../fonts/raleway-lightitalic.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic.svg#ralewaylight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular.eot');
    src: local('Raleway'),
         url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

