@media screen and (max-width: 1270px) {
    #header {
        >div {
            font-size: 0.83em;
            line-height: 145%;
        }
        
        #logo {
            width: 170px;
        }
        
        #headr_cont  {
            margin: 14px 0px 14px 5px;
        }
        
        nav {
            margin: 19px;
            
            
            ul li {
                margin-right: 15/1634*100%;
                padding-left: 0px;
            }
            ul li:before {
                margin-right: 5px;
            }
        }
        
    }
    footer>div { 
        margin: 35px auto;
        
         .foo_main_menu {
            li {
                margin-right: 60/935*100%;
            }
        }
    }
    
    #main_slider {
        
        .slider {
            
            .slick-slide, .slide {
                padding-bottom: 110px;
                
                h3 {
                    font-size: 2.46em;
                    margin-top: 100px;
                }
                
                .slide_copy, .slide_info {
                    bottom: 40px;
                    width: 40%;
                    font-size: 0.85em;
                }
                a.button {
                    width: 140px;
                }
            }
            .slick-arrow {
                bottom: 40px;
            }
        }
    }
    
        #action {
    
        &>div {
            min-height: 405px;
        }
        h2 {
            margin-bottom: 74px;
        }
        
        
        .flicker {
            width: 201px;
            height: 201px;
            top: -21px;
            left: 71px;
        }
        
        .slick-slider {
            margin: 0;
            width: 45%;
            
            .slick-slide {
                min-height: 251px;
                padding-bottom: 80px;
            }
        }
    }
    
     #gallery {
        &>div {
            padding: 0px 20px 20px;
        }
        .gallery {
            .gallery_fotos div {
                width: 356/1634*100%;
                height: 150px
            }
        }
    }
    #index #gallery > div {
        padding-top: 47px;
    }
    
    #index #services {
        &>div {
            padding: 34px 20px 35px;
        }
        .service {
            height: 180px;
            margin: 0 0 8px 2px;
            
            a {
                font-size: 0.98em;
                line-height: 145%;
                
                span {
                    height: 45px;
                    padding: 5px 80/333*100% 5px 15/333*100%;
                }
                
            }
        }
    }
    
    #reviews {
	padding: 80px 20px;
    }
    
    #stages>div {
        padding: 49px 20px 5px;
        
        li {
            width: 400/1634*100%;
            margin: 0 70/1634*100% 55px;
        }
    }
    
    
    .content {
        
        .text {
            
            .left {
                margin: 10px 30px 25px 0;
            }
        }
    }
    
    #services {
        
        .service {
            height: 224px;
            width: 49.2%;
            
            a {
                font-size: 1.31em;
                line-height: 145%;
                
                span {
                    padding: 0 0 0 110px;
                    line-height: 224px;
                    margin-bottom: 20px;
                }
            }
        }
        
    }
    
    .content #services {
        >div{
            .service {
                width: 32.5%;
                
                a {
                    strong {
                        font-size: 20px;
                    }
                    span {
                        max-height: 115px;
                    }
                }
            }
        }
    }
    
    #contacts {
        .map {
            iframe {
                height: 490px;
            }
        }
        .content {
            
            .text {
                background-size: auto 100%;
                min-height: 440px;
            }
            
            h1 {
                margin-top: 0;
            }
        }
    }
    
    #reviews.no_bg {
        div.reviews_items {
            
            >div {
                //width: 38%;
                //margin: 0 20px 40px;
            }
        }
    }
    
    
    .popup {
        top: 0; // 50%;
        //margin-top: -386px;
        margin-left: -316px;
        width: 512px;
        padding: 60px;
        
        h3 + p {
            margin-bottom: 0
        }
        .form {
            input, textarea {
                width: 90%;
                margin-bottom: 15px;
            }
            textarea {
                max-width: 90%;
                min-width: 90%;
                margin-bottom: 30px;
            }
            
            input[type="submit"], input[type="reset"] {
                width: 195px;
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }
    
    
    
}