@media screen and (max-width: 1000px) {
    #header {
	
	position: fixed;
	box-shadow: 0 0 10px rgba(0,0,0,0.30);
	
        nav {
            margin: 50px 19px 0;
	    position: relative;
	    
	    .menu_batton_mob {
		height: 30px;
		border-bottom: 10px solid #14172a;
		border-top: 10px solid #14172a;
		border-radius: 3px;
		display: block;
		width: 50px;
		position: absolute;
		top: -50px;
		left: 50%;
		margin-left: -25px;
		
		&:after {
		    content: '';
		    position: absolute;
		    height: 10px;
		    width: 100%;
		    top: 10px;
		    left: 0;
		    background-color: #14172a;
		}
	    }
            
            ul {
		position: absolute;
		width: 200px;
		left: 50%;
		margin-left: -110px;
		margin-top: 10px;
		padding: 15px 10px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.3)
	    }
            ul li {
                margin-right: 0;
                padding-left: 30px;
		display: block;
		text-align: left;
		font-size: 1.3em;
		
		a {
		    display: inline-block;
		    padding: 15px 0;
		}
            }
	    ul li.active>a, a:hover {
		color: $color_a;
		text-decoration: underline;
	    }
            ul li:before {
                margin-right: 5px;
            }
	    
	    
        }
        
    }
    footer>div { 
        margin: 35px auto;
	
        .foo_main_menu {
	    float: none;
	    width: auto;
	    margin-top: -25px;
	    margin-left: 220px;
            li {
                
            }
        }
	
	.foo_menu {
	    display: none;
	    float: none;
	    width: auto;
	    margin-left: 220px;
	    
	    ul {
		width: 45%;
	    }
	}
    }
    
    .main_section h2 {
	font-size: 2.34em;
	line-height: 145%;
    }
    
    h1 {
	font-size: 2.34em;
	line-height: 145%;
    }
    
    #main_slider {
	margin-top: 93px;
        > div:before {
            background-size: 94% auto;
        }
        .slider {
            
            .slick-slide, .slide {
                padding-bottom: 80px;
                
		.slide_img {
		    margin-left: 10px;
		}
		
                h3 {
                    font-size: 1.46em;
                    margin-top: 30px;
                }
                p.white {
                    font-size: 1.26em;
                    &.big_text {
                        font-size: 1.46em;
                    }
                }
                .slide_copy, .slide_info {
                    bottom: 40px;
                    width: 50%;
                    font-size: 0.75em;
                }
                a.button {
                    width: 120px;
		    padding: 15px 15px 10px;
                }
            }
            .slick-arrow {
                bottom: 10px;
            }
	    
	    .slick-next {
		margin-right: 0;
	    }
	    .slick-prev {
		margin-left: 0;
	    }
        }
    }
    
    #action {
    
        &>div {
            min-height: 200px;
        }
        h2 {
            margin-bottom: 54px;
	    
	    &:after{
		display: none;
	    }
        }
        .flicker, .action_img {
            display: none;
        }
        
        .slick-slider {
            width: auto;
            
            .slick-slide {
                min-height: 1px;
                padding-bottom: 80px;
		h3 {
		    font-size: 1.63em;
		    line-height: 158%;
		}
            }
        }
    }
    
    #gallery {
        .gallery {
	    p{
		a{
		    font-size: 0.70em;
		}
		
	    }
            .gallery_fotos div {
                width: 44.2%;
		height: 250px
            }
        }
    }
    
    #index #services {
        .service {
	    width: 49.3%;
        }
    }
    
    
    #reviews {
	padding: 60px 20px;
	
	&>div {
	    padding: 30px;
	    max-width: 500px;
	}
	
	.reviews_slider  {
	    .slick-slide {
		height: 175px;
	    }
	    .slick-next {
		    right: 0;
		    left: auto;
		    margin-left: 0;
	    }
	    
	    span + p {
                margin-top: 7px;
                line-height: 213%;
                max-height: 115px;
            }
	}
    }
    
    .slick-slider {
	.slick-prev {
		left: 20px;
		margin-left: 0;
	}
	.slick-next {
		right: 20px;
		margin-right: 0;
        
	}
    }
    
    .form input, .form textarea, .form select {
	width: 255px;
    }

    form.form textarea {
	min-width: 255px;
	max-width: 255px;
    }
    form.form input[type="submit"] {
	width: 215px;
    }
    
    #main_form {
    
	&>div {
	    max-width: 1288px;
	    margin: 0 auto;
	    color: #fff;
	    text-align: center;
	    padding: 35px 20px 25px;
	}
	
	h2 {
	    margin-bottom: 30px;
	}
	
	.cont {
	    margin-right: 34px;
	    font-size: 1.05em;
	    line-height: 145%;
	    padding-left: 35px;
	    background-size: 25px auto;
	}
	form {
	    
	    p {
		text-align: center;
	    }
	}
    }
    
    #stages>div {
        padding: 49px 20px 5px;
        
        li {
            width: 47.5%;
            margin: 0 1% 55px;
        }
    }
    
    .bread_crumbs {
	margin-top: 93px;
    }
    
    #services {
	
	.service {
	    width: 99%;
	    height: 274px;
	    
	    a {
		font-size: 1.61em;
		line-height: 145%;
		
		span {
		    width: 20%;
		    padding: 0 0 0 130px;
		    line-height: 274px;
		}
	    }
	}
	
    }
    
    .content #services {
	>div{
	    padding-top: 20px;
	    .service {
		height: 224px;
		width: 31.9%;
		
		a {
		    
		    strong {
			font-size: 16px;
			line-height: 145%;
		    }
		    span {
			padding-top: 0;
			display: none;
			max-height: 113px;
		    }
		    
		    &:hover span {
			display: block;
		    }
		}
	    }
	}
    }
    
    #contacts {
        .map {
            iframe {
                height: 460px;
            }
        }
        .content {
	    margin-top: 93px;
            
            .text {
                background-size: auto 100%;
		background-position: center lrft;
                min-height: 410px;
            }
            
            h1 {
                margin-top: 0;
            }
	    
	    .cont {
		font-size: 1.08em;
		line-height: 145%;
	    }
        }
    }
    
    #reviews.no_bg {
	div.reviews_items {
	    text-align: center;
	    >div {
		width: auto;
		text-align: left;
		float: none;
		//padding-bottom: 30px;
		margin-bottom: 40px;
		max-width: 660px;
		display: inline-block;
		
	    }
	    >div:nth-child(2n) {
		margin-left: 0;
	    }
	}
	
    }
    
    
    .popup {
        //top: -20%; // 50%;
        //margin-top: -386px;
        margin-left: -266px;
        width: 412px;
        padding: 40px;
	
	.close {
	    top: 10px;
	    right: 10px;
	}
        
        h3 + p {
            font-size: 0.84em;
	    line-height: 145%;
        }
        .form {
            input, textarea {
                width: 85%;
                margin-bottom: 15px;
		height: 28px;
		font-size: 1.2em;
		line-height: 140%;
            }
            textarea {
                max-width: 85%;
                min-width: 85%;
                margin-bottom: 30px;
            }
            
            input[type="submit"], input[type="reset"] {
                width: 175px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
    
    
}

@media screen and (max-width: 800px) {
    #gallery {
        .gallery {
            .gallery_fotos div {
                width: 44.2%;
		height: 200px;
            }
        }
    }

    .content {
	.text {
	    .left {
		max-width: 46%;
	    }
	}
    }
}