@media screen and (max-width: 1600px) {
    #header {
        min-height: 50px;
        
        >div {
            padding: 20px 20px;
        }
        
        #logo {
            margin-right: 20px;
            width: 200px;
        }
        
        #headr_cont  {
            margin: 19px 0px 19px 5px;
            font-size: 1.51em;
            line-height: 145%;
        }
        
        nav {
            margin: 10px auto;
            text-align: center;
            
            
            ul.main_menu li {
                margin-right: 15/1634*100%;
                padding: 15px 10px 10px 10px;
            }
        }
    }
    footer>div { 
        margin: 55px auto;
    }
    
    #main_slider {
        
        .slider {
            
            .slick-slide, .slide {
                padding-bottom: 130px;
                
                h3 {
                    font-size: 3.26em;
                    margin-top: 130px;
                }
                p.white.big_text {
                    font-size: 3.26em;
                }
                .slide_copy, .slide_info {
                    bottom: 50px;
                }
            }
            .slick-arrow {
                bottom: 50px;
            }
        }
    }

    #advantages {
        &>div {
            padding: 47px 0px 18px;
        }
        
        .karusel_advantages {
            
            div.slick-slide {
                height: 120px;
            }
        }
        
    }
    
    #action {
    
        &>div {
            min-height: 465px;
        }
        h2 {
            margin-bottom: 84px;
        }
        
    }
    
    #gallery {
    
        &>div {
            padding: 0px 20px 35px;
        }
        .gallery {
            .gallery_fotos div {
                width: 370/1634*100%;
                height: 210px;
            }
        }
    }
    #index #gallery > div {
        padding-top: 67px;
    }
    
    #index #services {
        &>div {
            padding: 44px 20px 45px;
        }
        .service {
            height: 220px;
            
            a {
                font-size: 1.21em;
                line-height: 145%;
                
                span {
                    height: 60px;
                    padding: 5px 80/333*100% 5px 15/333*100%;
                }
                
            }
        }
    }
    
    #stages>div {
        padding: 49px 20px 5px;
        
        li {
            width: 330/1634*100%;
            margin: 0 100/1634*100% 55px;
        }
    }


    #contacts {
        .map {
            iframe {
                height: 560px;
            }
        }
        .content {
            
            .text {
                background-size: auto 100%;
                min-height: 510px;
            }
        }
    }
    
    
    #reviews.no_bg {
        div.reviews_items {
            
            >div {
                //width: 38%;
                //margin: 0 20px 40px;
            }
        }
    }
    
    
    .page_404 {
        .content {
            .text {
                padding: 80px 0;
            }
            
            h2 {
                font-size: 283px;
                line-height: 100%;
                margin-bottom: 40px;
            }
            h2+p {
                font-size: 51px;
                line-height: 145%;
                margin-bottom: 80px;
            }
        }
    }

    
}

